.AdDesigner {
  margin: 20px;
}

.AdDesigner .ad {
  border: 1px solid black;
  width: fit-content;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px 2px #5e5e5e;
  margin: 10px;
}

.AdDesigner .dark {
  background-color: #222;
  color: #fff;
  border: 1px solid white;
}

.AdDesigner .light {
  border-color: #222;
  background-color: white;
}

.AdDesigner .flavor {
  font-family: "Caveat", cursive;
}

.AdDesigner .fontSizer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
