body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1,
h2 {
  font-family: "Caveat", cursive;
}

button {
  background-color: #0e3c7e;
  color: white;
  border-radius: 5px;
  margin: 10px 5px;
  border: 0;
  padding: 4px;
}

button:active {
  background-color: #1e60a9;
}

button:disabled {
  background-color: gray;
}
